@using Lesson3App1.Models;
@model Personel;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div> Id: @Model.PersonelId </div>
    <div> Adı: @Model.Adi </div>
    <div> Soyadı: @Model.Soyadi</div>

</body>
</html>
