
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexViewBag</title>
</head>
<body>
    <div>@ViewBag.mesaj</div>
    <div>@ViewBag.title</div>
    <div>@TempData["SendedMessage"]</div>
</body>
</html>
