@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>From Public Variable: @ViewBag.UserName</p>

<p>From Http Session: @ViewBag.UserNameFromSession</p>

<p>From Temp Data : @TempData["UserNameFromTempData"]</p>

<p>Use this page to detail your site's privacy policy.</p>
